.Inshort(class="[ Element ]" data-aos="fade-up" data-aos-duration="600")
	.Inshort__body
		.Columns__marginal
			span Ladenbau
		.Inshort__spacer
		.Inshort__intro.Inshort__intro--copy
			.Heading.Heading--major
				span Expertise Ladenbau
				h2 Shops, Shop-in-Shop-Flächen, Showrooms, Warenpräsentation, Messeauftritte
		.Inshort__copy
			.Copy
				p Konzeption von Ladenflächen und Shop-Gestaltungen sind wichtige Aspekte eines positiven Einkaufserlebnisses. Atmosphäre schaffen, Produkte inszenieren und Markenwelten erlebbar machen gehört darum zu unserem Leistungsspektrum.
				p Von der Planung bis zur Ausführung begleiten wir Sie mit unserem Expertenwissen und unserem Können. Auf Wunsch koordinieren wir für Sie auch andere Gewerke und sorgen dann als Generalunternehmer für reibungslose Abläufe.
