extends ../../_layout/en/_layout

block title
		title That is us: HOLZFORMART

block hreflang
		- var pagelinkDe = 'ueberuns.html'
		- var pagelinkEn = 'aboutus.html'
		include ../../_layout/hreflang.pug
		
block meta
		meta(name="description", content="Die Kompetenzen liegen in der Konzeption und Produktion von Möbeln aller Art für die Bereiche Ladenbau, Innenausbau, Küchen, Bäder und Fertigung von Einzelmöbeln. ")
		meta(name="pageColor", content="red")

block content
		include ../../_sections/en/aboutus/hero.pug
		include ../../_sections/en/aboutus/inshort.pug
		include ../../_sections/en/aboutus/description.pug
		include ../../_sections/en/aboutus/impressions.pug
		include ../../_sections/en/aboutus/team.pug
		include ../../_sections/en/aboutus/clients.pug
		include ../../_sections/en/aboutus/jobs.pug
