extends ../../_layout/en/_layout

block title
		title Kontakt zum HOLZFORMART

block meta
		meta(name="description", content="Telefon, Fax, E-Mail oder einfach vorbei kommen. Viele Wege zum HOLZFORMART ")
		meta(name="pageColor", content="red")

block content
		include ../../_sections/en/contact/hero.pug
		include ../../_sections/en/contact/article.pug
