extends ../../_layout/en/_layout

block title
		title Legals of HOLZFORMART

block meta
		meta(name="description", content="Legals: HOLZFORMART ")
		meta(name="pageColor", content="red")

block content
		include ../../_sections/en/contact/hero.pug
		include ../../_sections/en/impressum/article.pug
