extends ../../_layout/en/_layout

block title
		title Die Experten für Ladenbau und Innenausbau in Krefeld: HOLZFORMART

block meta
		meta(name="description", content="Die Experten für Ladenbau und Innenausbau in Krefeld: HOLZFORMART ")
		meta(name="pageColor", content="red")

block content
		include ../../_sections/en/home/hero.pug
		include ../../_sections/en/home/inshort.pug
		include ../../_sections/en/home/highlight.pug
		include ../../_sections/en/home/projects.pug
		include ../../_sections/en/home/linkbox.pug
