extends ../../_layout/en/_layout

block title
		title Die Experten für Ladenbau und Innenausbau in Krefeld: HOLZFORMART

block meta
		meta(name="description", content="Die Experten für Ladenbau und Innenausbau in Krefeld: HOLZFORMART ")

block content
		include ../../_sections/en/home/hero.pug
