.Slider.Slider--fullsize(class="[ Element ]" data-view="SliderView" data-settings="full" id="ausbildung-impressions" data-aos="fade-up" data-aos-duration="400")
	.Slider__body
		.Columns__marginal
			span Impressionen
		.Slider__spacer
		.Slider__swiper
			.swiper-container
				.swiper-wrapper
					if content
						each el in content.impressions
							.swiper-slide
								.Figure.Figure--responsive
									img(src=images+el.src alt=""+el.alt)
		.swiper-button-prev
		.swiper-button-next
		.swiper-pagination
	.Slider__text
		div
			h2 Team.<br/>Work.<br/>Life.<br/>Passion.
		div
			p <strong>Nachhaltig. Erfolgreich. Individuell.</strong> Unter diesem Motto steht die Ausbildung bei HolzFormArt. Nachhaltigkeit bedeutet, Ressourcen zu nutzen und zu erhalten. Und zwar natürliche Rohstoffe ebenso wie Gesundheit und Motivation. Darum sorgen wir bei HolzFormArt dafür, dass unsere Ausbildung jeden Tag spannend bleibt. Dass sie den Horizont erweitert und die Kreativität fördert. Durch Teamwork. Durch Herausforderungen. Durch den Blick über den Tellerrand. Denn wir glauben, dass eine gute Ausbildung auf das Leben vorbereitet, nicht nur auf den Beruf. Weil wir von der Qualität unserer Ausbildung überzeugt sind, übernehmen wir unsere Azubis auch gerne nach bestandener Prüfung. Gute Fachkräfte sind schließlich selten und darum wertvoll. Deine Ausbildung ist für dich und für uns also gleichermaßen eine Investition in die Zukunft.
		div
			p Wir tun viel dafür, dass unser Betriebsklima motiviert und gute Arbeit fördert. Gemeinschaftsräume wie unsere Bibliothek und unsere Küche tragen ebenso zu einem kommunikativen Miteinander bei wie unsere Projektarbeiten, die Azubi-Fahrten oder unser Bienenstock-Projekt: In Zukunft soll jeder Auszubildende einen eigenen Bienenstock bauen und den Schwarm betreuen. Unser Ausbildungsleiter Antonio Poeira behält dabei den Überblick, gibt Tipps und begleitet die Honigernte. Das Projekt ist ein kleiner Beitrag zum Naturschutz – und die Blumenwiese bei den Bienenstöcken ein perfekter Ort für Pausen und Gespräche.
		
