.Inshort(class="[ Element ]")
	.Inshort__body
		.Columns__marginal
			span Ausbildung
		.Inshort__spacer
		.Inshort__intro--wide
			.Heading.Heading--minor
				//- span Willkommen
				h2 Hohe Ansprüche. An die Qualität unserer Arbeit und an die Qualität unserer Ausbildung.
