.Linkbox(class="[ Element ]" data-aos="fade" data-aos-duration="400")
	.Linkbox__body
		div
			div Du willst dich bei<br/>uns bewerben
			div
				a.Button.Button--inline(href="/de/karriere.html?section=carrer-contact")
					span Was brauche ich alles
				a.Button.Button--inline(href="/de/karriere.html?section=carrer-contact")
					span Kontaktdaten
