
mixin responsiveimage(path, image, alt='')
	img(data-src=""+path+"{width}"+image, data-sizes="auto", alt=""+alt, class="lazyload", srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
