<!--[if IE]>
	link(rel="shortcut icon" href="//cdn.amorelie.de/skin/frontend/amorelie/default/ico/favicon.ico")
<![endif]-->
link(rel="icon" type="image/png" href="//cdn.amorelie.de/skin/frontend/amorelie/default/ico/favicon.png")
link(rel="apple-touch-icon-precomposed" href="//cdn.amorelie.de/skin/frontend/amorelie/default/ico/apple-touch-icon-precomposed.png")
link(rel="apple-touch-icon-precomposed" sizes="57x57" href="//cdn.amorelie.de/skin/frontend/amorelie/default/ico/apple-touch-icon-57x57-precomposed.png")
link(rel="apple-touch-icon-precomposed" sizes="72x72" href="//cdn.amorelie.de/skin/frontend/amorelie/default/ico/apple-touch-icon-72x72-precomposed.png")
link(rel="apple-touch-icon-precomposed" sizes="76x76" href="//cdn.amorelie.de/skin/frontend/amorelie/default/ico/apple-touch-icon-76x76-precomposed.png")
link(rel="apple-touch-icon-precomposed" sizes="114x114" href="//cdn.amorelie.de/skin/frontend/amorelie/default/ico/apple-touch-icon-114x114-precomposed.png")
link(rel="apple-touch-icon-precomposed" sizes="120x120" href="//cdn.amorelie.de/skin/frontend/amorelie/default/ico/apple-touch-icon-120x120-precomposed.png")
link(rel="apple-touch-icon-precomposed" sizes="144x144" href="//cdn.amorelie.de/skin/frontend/amorelie/default/ico/apple-touch-icon-144x144-precomposed.png")
link(rel="apple-touch-icon-precomposed" sizes="152x152" href="//cdn.amorelie.de/skin/frontend/amorelie/default/ico/apple-touch-icon-152x152-precomposed.png")
meta(name="application-name" content="Amorelie")
meta(name="msapplication-TileColor" content="#fff")
meta(name="msapplication-TileImage" content="//cdn.amorelie.de/skin/frontend/amorelie/default/ico/windows-icon-144x144.png")
meta(name="msapplication-square70x70logo" content="//cdn.amorelie.de/skin/frontend/amorelie/default/ico/windows-icon-70x70.png")
meta(name="msapplication-square150x150logo" content="//cdn.amorelie.de/skin/frontend/amorelie/default/ico/windows-icon-150x150.png")
meta(name="msapplication-wide310x150logo" content="//cdn.amorelie.de/skin/frontend/amorelie/default/ico/windows-icon-310x150.png")
meta(name="msapplication-square310x310logo" content="//cdn.amorelie.de/skin/frontend/amorelie/default/ico/windows-icon-310x310.png")
