link(rel="alternate" href="http://www.holzformart.de/de/"+pagelinkDe hreflang="de")
link(rel="alternate" href="http://www.holzformart.de/en/"+pagelinkEn hreflang="en")
link(rel="alternate" href="http://www.holzformart.de/de/"+pagelinkDe hreflang="x-default")
