.Highlight(class="[ Element ]")
	.Highlight__background
		.Highlight__marginal
		.Highlight__content
			.Glyphe.Glyphe--bottom-left
	.Highlight__body
		.Heading.Heading--highlight
			span EVERY SOLUTION IS UNIQUE.
			h2 HolzFormArt’s customised solutions unite quality craftsmanship and a deep understanding for the materials with technical expertise.
		a.Button.Button--inline(href="/en/aboutus.html")
			span More
