.Inshort(class="[ Element ]")
	.Inshort__body
		.Columns__marginal
			span Shortly
		.Inshort__spacer
		.Inshort__intro
			.Heading.Heading--major
				span Welcome
				h2 HolzFormArt is your partner for shop fitting, interior fit-outs, kitchens, bathrooms and the production of individual items made of wood and other materials.
			.Copy
				p Individuality every step of the way. The highest standards in every detail. And craftsmanship in every item of furniture. That is HolzFormArt. We unite a passion for craftsmanship with machine-controlled precision to create something special for our private and commercial clients: individuality.
		.Inshort__buttonbar
			p You can find select samples of our work here:
			.Button.Button--block
				a(href="/en/interiorfitout")
					span Interior fit out
			.Button.Button--block
				a(href="/en/shopfitting")
					span Shopfitting
