.Linkbox(class="[ Element ]")
	.Linkbox__body
		div
			div Display reference<br/>projects
			div
				a.Button.Button--inline(href="/en/shopfitting/")
					span Shopfitting
				a.Button.Button--inline(href="/en/interiorfitout/")
					span Interior fit out
