.Slider.Slider--projects(class="[ Element ]" data-view="SliderView" data-settings="tiny" id="home-projects")
	.Slider__body
		.Columns__marginal
			span Current projects
		.Slider__spacer
		.Slider__swiper
			.swiper-container
				.swiper-wrapper
					if content
						each el in content.projects.items
							if el.type == content.key
								.swiper-slide
									a.Teaser(class="Teaser--"+el.teaser.type+"" href="/de/"+el.ressort+"/"+el.id+".html")
										.Teaser__body
											img(src="/assets/images/projects/teaser_projekt_"+el.ressort+"_"+el.id+".jpg")
										.Teaser__link(class="Teaser__link--"+el.ressort)
											.Button.Button--teaser
												span
													span
														span= el.teaser.ressort
														span= el.content.title
		.swiper-pagination
