extends ../../../_layout/en/_layout

block title
		title HolzFormArt Coffee Lounge: Interior fit out by HOLZFORMART

block hreflang
		- var pagelinkDe = 'innenausbau/hofgarten_solingen.html'
		- var pagelinkEn = 'interiorfitout/hofgarten_solingen.html'
		include ../../../_layout/hreflang.pug


block meta
		meta(name="description", content="HolzFormArt Coffee Lounge: Interior fit out by HOLZFORMART")
		meta(name="pageColor", content="yellow")

block content
	include ../../../_sections/en/projects/hero.pug
	include ../../../_sections/en/projects/description.pug
	include ../../../_sections/en/projects/gallery.pug
