extends ../../../_layout/en/_layout

block title
		title Interior fit out: HOLZFORMART

block hreflang
		- var pagelinkDe = 'innenausbau/'
		- var pagelinkEn = 'interiorfitout/'
		include ../../../_layout/hreflang.pug

block meta
		meta(name="description", content="Interior fit out: HOLZFORMART ")
		meta(name="pageColor", content="yellow")

block content
		include ../../../_sections/en/interiorfitout/hero.pug
		include ../../../_sections/en/interiorfitout/inshort.pug
		include ../../../_sections/en/interiorfitout/teaser.pug
