extends ../../../_layout/en/_layout

block title
		title Interior fit out: Kitchen and Entrance by HOLZFORMART

block hreflang
		- var pagelinkDe = 'innenausbau/ingenlath.html'
		- var pagelinkEn = 'interiorfitout/ingenlath.html'
		include ../../../_layout/hreflang.pug

block meta
		meta(name="description", content="Interior fit out: Kitchen and Entrance by HOLZFORMART")
		meta(name="pageColor", content="yellow")

block content
	include ../../../_sections/en/projects/hero.pug
	include ../../../_sections/en/projects/description.pug
	include ../../../_sections/en/projects/gallery.pug
