extends ../../../_layout/en/_layout

block title
		title Küche und Entree: Innenausbau by HOLZFORMART

block hreflang
		- var pagelinkDe = 'innenausbau/ingenlath.html'
		- var pagelinkEn = 'interiorfitout/ingenlath.html'
		include ../../../_layout/hreflang.pug

block meta
		meta(name="description", content="Küche und Entree: Innenausbau by HOLZFORMART")
		meta(name="pageColor", content="yellow")

block content
	include ../../../_sections/en/projects/hero.pug
	include ../../../_sections/en/projects/description.pug
	include ../../../_sections/en/projects/gallery.pug
