extends ../../../_layout/en/_layout

block title
		title Interior fit out: Kitchen and Living Room by HOLZFORMART

block hreflang
		- var pagelinkDe = 'innenausbau/palais_vest_recklinghausen.html'
		- var pagelinkEn = 'interiorfitout/palais_vest_recklinghausen.html'
		include ../../../_layout/hreflang.pug


block meta
		meta(name="description", content="Interior fit out: Kitchen and Living Room by HOLZFORMART")
		meta(name="pageColor", content="yellow")

block content
	include ../../../_sections/en/projects/hero.pug
	include ../../../_sections/en/projects/description.pug
	include ../../../_sections/en/projects/gallery.pug
