extends ../../../_layout/en/_layout

block title
		title Küche und Wohnzimmer: Innenausbau by HOLZFORMART

block meta
		meta(name="description", content="Küche und Wohnzimmer: Innenausbau by HOLZFORMART")
		meta(name="pageColor", content="yellow")

block content
	include ../../../_sections/en/projects/hero.pug
	include ../../../_sections/en/projects/description.pug
	include ../../../_sections/en/projects/gallery.pug
