extends ../../../_layout/en/_layout

block title
		title Food Court Recklinghausen: Interior fit out by HOLZFORMART

block hreflang
		- var pagelinkDe = 'innenausbau/rudolph.html'
		- var pagelinkEn = 'interiorfitout/rudolph.html'
		include ../../../_layout/hreflang.pug

block meta
		meta(name="description", content="Food Court Recklinghausen: Interior fit out by HOLZFORMART")
		meta(name="pageColor", content="yellow")

block content
	include ../../../_sections/en/projects/hero.pug
	include ../../../_sections/en/projects/description.pug
	include ../../../_sections/en/projects/gallery.pug
