.Hero.Hero--video(class="[ Element ]")
	.Hero__body
		.Hero__video
			iframe(src="https://player.vimeo.com/video/204799007?background=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
	.Heading.Heading--box
		.Heading__body
			h1 Die Experten für Ladenbau und Innenausbau.
