.Highlight(class="[ Element ]")
	.Highlight__background
		.Highlight__marginal
		.Highlight__content
			.Glyphe.Glyphe--bottom-left
	.Highlight__body
		.Heading.Heading--highlight
			span Jede Lösung ein Unikat.
			h2 In den Maßanfertigungen von Holzformart verbinden sich handwerkliches Können, ein tiefes Verständnis für den Werkstoff und technisches Know-How.
		a.Button.Button--inline(href="#")
			span Mehr
