.Highlight(class="[ Element ]")
	.Highlight__background
		.Highlight__marginal
		.Highlight__content
			.Glyphe.Glyphe--bottom-left
	.Highlight__body
		.Heading.Heading--highlight
			span Was macht Holzformat so besonders?
			h2 Die Mischung aus handwerklicher Kompetenz und Ideenreichtum mit technischem Know how
		a.Button.Button--inline(href="#")
			span Mehr
