.Inshort
	.Inshort__body
		.Columns__marginal
			span In Kürze
		.Inshort__spacer
		.Inshort__intro
			.Heading.Heading--major
				span Willkommen
				h2 Holzformart ist Ihr kompetenter Partner für die Bereiche Ladenbau, Innenausbau, Küchen, Bäder und Fertigung von Einzelmöbeln.
			.Copy
				p Die Produktion basiert auf modernster, computergesteuerter Fertigungstechnologie verbunden mit bestem handwerklichen Können. Zu den Kunden zählen internationale Ladenketten, Dienstleistungsunternehmen, öffentliche Institutionen, Krankenhäuser, Hotels und Privatkunden.
		.Inshort__buttonbar
			p Projekte zu unseren Kernkompetenzen finden Sie hier:
			.Button.Button--block
				a(href="/de/innenausbau")
					span Innenausbau
			.Button.Button--block
				a(href="/de/ladenbau")
					span Ladenbau
