.Inshort(class="[ Element ]")
	.Inshort__body(data-aos="fade-up" data-aos-duration="600")
		.Columns__marginal
			span In Kürze
		.Inshort__spacer
		.Inshort__intro
			.Heading.Heading--major
				span Willkommen
				h2 Holzformart ist Ihr Partner für Ladenbau, Innenausbau, Küchen, Bäder und die Fertigung individueller Einzelstücke aus Holz und anderen Werkstoffen.
			.Copy
				p Individualität in jedem Arbeitsschritt. Anspruch in jedem Detail. Und Kunstfertigkeit in jedem Möbelstück. Das ist Holzformart. Wir verbinden die Leidenschaft des Handwerks mit maschinengesteuerter Präzision um für unsere privaten und gewerblichen Auftraggeber etwas Besonderes zu schaffen: Individualität.
		.Inshort__buttonbar(data-aos="fade-up" data-aos-duration="800")
			p Ausgewählte Beispiele unserer Arbeit finden Sie hier:
			.Button.Button--block
				a(href="/de/innenausbau")
					span Innenausbau
			.Button.Button--block
				a(href="/de/ladenbau")
					span Ladenbau
