.Linkbox(class="[ Element ]")
	.Linkbox__body
		div
			div Projektübersicht<br/>anzeigen
			div
				a.Button.Button--inline(href="/de/ladenbau/")
					span Ladenbau
				a.Button.Button--inline(href="/de/innenausbau/")
					span Innenausbau
