doctype html
include ../_mixins.pug

//- DOM
- var lang = "de"
- var images = "/assets/images/"

html
	include ./head.pug
	body.loading
		include ./header.pug
		include ../main.pug
		include ./footer.pug
		include ../preloader.pug
		include ../scripts.pug
		include ../googleanalytics.pug
