.Footer
	.Footer__body
		.Footer__menu
			p
				a(href="/de/") Startseite
				br
				a(href="/de/ladenbau") Ladenbau
				br
				a(href="/de/innenausbau") Innenausbau
				br
				a(href="/de/ueberuns") Über uns
				br
				a.divider(href="/de/kontakt") Kontakt
				br
				a(href="/de/impressum") Impressum
		.Footer__adress
			p.
				HolzFormArt GmbH & Co. KG<br/>
				Endstraße 104<br/>
				47506 Neukirchen-Vluyn<br/>
				<br/>
				Fax: 02841-88730-29
		.Footer__contact
			p
				a.nounderline(href="tel:00492841887300") +49 2841 88730 - 0
				br
				a(href="mailto:mail@holzformart.de") mail@holzformart.de
				br
				a(href="http://maps.google.com/?q=HolzFormArt GmbH & Co KG, Endstraße 104, 47506 Neukirchen-Vluyn" target="_blank") Anfahrt google Maps
			p.
				Sie erreichen uns Montags bis Freitags in der Zeit von 7.30 Uhr bis 16.00 Uhr - oder natürlich jederzeit per E-Mail.
		.Footer__social
			a(href="https://www.facebook.com/Holzformart/" target="_blank")
				include ../../_svg/icon-facebook.svg
			//- a(href="https://www.instagram.com/holzformart/" target="_blank")
			//- 	include ../../_svg/icon-instagramm.svg
			a(href="https://twitter.com/hashtag/Holzformart?src=hash" target="_blank")
				include ../../_svg/icon-twitter.svg
			a(href="https://www.xing.com/companies/holzformartgmbh&co.kg" target="_blank")
				include ../../_svg/icon-xing.svg
