block header

header.Header-sticky
	a.Header-sticky__logo(href="/de/")
		include ../../_svg/logo.svg
	.Header-sticky__body
		include ./navigation.pug

header.Header
	.Button.Button--toggle
		span
	a.Header__logo(href="/de/")
		include ../../_svg/logo.svg
	.Header__body
		include ./navigation.pug
