block header

header.Header-sticky
	.Header-sticky__logo
		include ../../_svg/logo.svg
	.Header-sticky__body
		include ./navigation.pug

header.Header
	.Button.Button--toggle
		span
	.Header__logo
		include ../../_svg/logo.svg
	.Header__body
		include ./navigation.pug
