.Menu(role="navigation")
	ul.Menu__body
		li
			a(href="/"+lang+"/ladenbau/") Ladenbau
		li
			a(href="/"+lang+"/innenausbau/") Innenausbau
		li
			a(href="/"+lang+"/ueberuns.html") Über uns
		li.Menu__item--right
			a(href="/"+lang+"/kontakt.html") Kontakt
			|&nbsp;&nbsp;
			span
				a(href="/de/"+pagelinkDe data-hook="de" class="active") DE
				|&nbsp;|&nbsp;
				a(href="/en/"+pagelinkEn data-hook="en") EN
