extends ../../../_layout/de/_layout

block title
		title Foodcourt Bilker Arcaden Düsseldorf: by HOLZFORMART

block meta
		meta(name="description", content="Foodcourt Bilker Arcaden Düsseldorf: by HOLZFORMART")
		meta(name="pageColor", content="yellow")

block content
	include ../../../_sections/de/projects/hero.pug
	include ../../../_sections/de/projects/description.pug
	include ../../../_sections/de/projects/gallery.pug
