extends ../../../_layout/de/_layout

block title
		title HolzFormArt Coffee Lounge: Innenausbau by HOLZFORMART

block hreflang
		- var pagelinkDe = 'innenausbau/hofgarten_solingen.html'
		- var pagelinkEn = 'interiorfitout/hofgarten_solingen.html'
		include ../../../_layout/hreflang.pug

block meta
		meta(name="description", content="HolzFormArt Coffee Lounge: Innenausbau by HOLZFORMART")
		meta(name="pageColor", content="yellow")

block content
	include ../../../_sections/de/projects/hero.pug
	include ../../../_sections/de/projects/description.pug
	include ../../../_sections/de/projects/gallery.pug
