extends ../../../_layout/de/_layout

block title
		title Küche und Entree: Innenausbau by HOLZFORMART

block meta
		meta(name="description", content="Küche und Entree: Innenausbau by HOLZFORMART")
		meta(name="pageColor", content="yellow")

block content
	include ../../../_sections/de/projects/hero.pug
	include ../../../_sections/de/projects/description.pug
	include ../../../_sections/de/projects/gallery.pug
