extends ../../../_layout/de/_layout

block title
		title Food Court Recklinghausen: Innenausbau by HOLZFORMART

block hreflang
		- var pagelinkDe = 'innenausbau/rudolph.html'
		- var pagelinkEn = 'interiorfitout/rudolph.html'
		include ../../../_layout/hreflang.pug


block meta
		meta(name="description", content="Food Court Recklinghausen: Innenausbau by HOLZFORMART")
		meta(name="pageColor", content="yellow")

block content
	include ../../../_sections/de/projects/hero.pug
	include ../../../_sections/de/projects/description.pug
	include ../../../_sections/de/projects/gallery.pug
