@mixin fontcopy()
	font-family: 'Work Sans', sans-serif
	font-style: normal
	font-weight: 400

@mixin fontsemi()
	font-family: 'Work Sans', sans-serif
	font-style: normal
	font-weight: 600

@mixin fontbold()
	font-family: 'Work Sans', sans-serif
	font-style: normal
	font-weight: 700

@mixin fontheadline()
	font-family: 'Work Sans', sans-serif
	font-style: normal
	font-weight: 700

body
	background-color: $color-background
	color: $color-text
	+fontcopy()
	font-size: 100%
	line-height: ms(1.4)
	+bp(large)
		line-height: ms(1.7)
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

p
	line-height: ms(1.7)
	+bp(larger)
		line-height: 1.8em

h1,
h2,
h3,
h4,
h5,
h6
	margin: 0
	font-size: inherit
	font-weight: inherit
	line-height: inherit
	line-height: ms(1.7)


h1
	+fontheadline
	font-size: 1.5em
	+bp(medium)
		font-size: 2em
	+bp(large)
		font-size: 2.2em
	+bp(larger)
		font-size: 2.4em
	text-transform: uppercase
	letter-spacing: 0.02em
	color: $color-text
	line-height: 1.2

h2
	+fontsemi
	font-size: 1.15em
	line-height: 1.45
	+bp(medium)
		font-size: 1.85em
		line-height: 1.15
h3
	font-weight: bold
ul,
ol
	margin: 0
	padding: 0
	list-style: none
	font-weight: normal

a
	color: inherit
	outline: 0
	text-decoration: none
	letter-spacing: 0.1em
	user-select: none
	-webkit-tap-highlight-color: rgba(0,0,0,0)
	&,
	&:active,
	&:hover,
	&:focus,
	&:visited
		outline: 0
		text-decoration: none



strong
	+fontheadline()
