.Article(class="[ Element ]")
	.Article__body
		.Columns__marginal
			span Kontakt
		.Article__spacer
		.Article__intro
			.Heading.Heading--major.Heading--large
				span Treten Sie mit uns in
				h2 Kontakt
			.Copy.Copy--large
				table
					tr
						td Telefon:
						td 02841-88730-0
					tr
						td Fax:
						td 02841-88730-29
					tr
						td E-Mail:
						td
							a(href="mailto:mail@holzformart.de") mail@holzformart.de
				p
					|HolzFormArt GmbH & Co. KG
					br
					|Endstraße 104
					br
					|47506 Neukirchen-Vluyn
					br
			.Copy
				a.Button.Button--smallblock(href="http://maps.google.com/?q=HolzFormArt GmbH & Co KG, Endstraße 104, 47506 Neukirchen-Vluyn" target="_blank")
					span Google Maps
