.Formalities(data-aos="fade-up" data-aos-duration="600")
	.Columns__marginal
		span Formalitäten
	.Formalities__body
		.Formalities__text
			.Heading.Heading--major.Heading--major-versal
				h2 Deine Bewerbung zur Ausbildung bei HolzFormArt.
			h3 Tischler
			h4 Für eine Bewerbung solltest Du mitbringen:
			ul
				li Abitur, Realschul- oder Hauptschulabschluss
				li Mindestens ein „Befriedigend“ auf dem Abschlusszeugnis in Mathematik und Deutsch
				li Motivation und Lernbereitschaft für Schule und Betrieb
				li handwerkliches Geschick
			h4 Die Bewerbungsphase
			p Bewirb dich vom 1.9. bis 30.11. des laufenden Jahres um eine Ausbildung im Folgejahr. Wenn deine Bewerbung interessant ist, laden wir dich zu einem persönlichen Gespräch ein. Anschließend gibt es einen schriftlichen Eignungstest, der sich mit verschiedenen Themen deiner Ausbildung beschäftigt. Die letzte Stufe ist ein einwöchiges Praktikum. Es soll dir als Bewerber und uns als Ausbildungsbetrieb helfen herauszufinden, ob wir zueinander passen.
			h3 Kauffrau/Kaufmann<br/>für Büromanagement 
			h4 Für eine Bewerbung solltest Du mitbringen:
			ul
				li Mindestens Realschulabschluss bzw. mittlere Reife
				li Gute Noten in Mathematik, Deutsch und Englisch
			h4 Die Bewerbungsphase
			p Nach Erhalt der Unterlagen laden wir Dich bei näherem Interesse zu einem persönlichen Gespräch ein. In diesem Gespräch stellst Du unter anderem Deine Motivation für die Ausbildung dar und begründest so Deinen Ausbildungs- bzw. Berufswunsch. Bereits wenige Tage danach bekommst Du von uns Rückmeldung
		.Formalities__box
			h3 Bewerbungsunterlagen
			h4 Das benötigen wir von jedem Bewerber:
			div
				ul
					li dein Bewerbungsschreiben
					li tabellarischer Lebenslauf mit Lichtbild
					li voraussichtlicher Schulabschluss mit Datum
					li letzte Schul- und Arbeitszeugnisse in Kopie
				h4 Schick Deine Bewerbung bitte<br/>entweder per Post an:
				p HolzFormArt GmbH & Co. KG,<br/>Endstraße 104,<br/>47506 Neukirchen-Vluyn
				h4 oder per E-Mail an:
				p
					a(href="mailto:r.ingenlath@holzformart.de") r.ingenlath@holzformart.de
				p Viel Erfolg!
