.Circle-image
	.Circle-image__body
		div
			.Glyphe.Glyphe--bottom-right
			img(src=images+"/ausbildung/ausbildung.jpg")
		div
			p Wir, der Tischlereibetrieb HolzFormArt in Neukirchen-Vluyn, realisieren international Projekte in den Bereichen Laden- und Innenausbau. Marken und Unternehmen erhalten von uns ein maßgefertigtes Interieur – und damit den letzten Schliff. Auch für Privatpersonen fertigen wir pass- und wunschgenau einzelne Möbel oder ganze Ausstattungen. Jedes Projekt ist dabei anders und jeder Tag spannend. 
			p Das Gleiche gilt für die Ausbildung bei HolzFormArt. In unserem modernen Betrieb bieten wir Ausbildungsplätze für die Berufe Tischler/-in und Kauffrau/Kaufmann für Büromanagement. Inklusive: ein nettes Team, interessante Projekte, Weiterbildungsmöglichkeiten und vor allem: Spaß bei der Arbeit. Alle Details dazu findest du auf dieser Webseite.
