.Linkbox(class="[ Element ]")
	.Linkbox__body
		div
			div Du willst dich bei<br/>uns bewerben
			div
				a.Button.Button--inline(href="/de/ausbildung/")
					span Was brauche ich alles
				a.Button.Button--inline(href="/de/ausbildung/")
					span Kontaktdaten
