.Professions(class="[ Element ]")
	.Columns__marginal
		span Ausbildungsberufe
	.Professions__body
		.Professions__text
			.Heading.Heading--boldhighlight
				h2 Die Ausbildungs<span class="only-desktop">-<br> </span>berufe bei HolzFormArt.
		.Professions__listing
			ul
				li.Professions__item.Professions__item--circle
					div
						h3 Kauffrau/Kaufmann für Büromanagement
						p Diese ebenfalls dreijährige Ausbildung beschäftigt sich mit allen Bereichen der Verwaltung deines Unternehmens. Gemäß Ausbildungsrahmenplan durchläufst du alle Fachabteilungen wie Buchhaltung, Projektleitung, Rechnungswesen und Controlling. Immer mit einem Ansprechpartner an deiner Seite.
				li.Professions__item.Professions__item--right
					div
						h3 Tischler/in
						p Die dreijährige Ausbildung zum Tischler / zur Tischlerin absolvierst du bei HolzFormArt als Teil unseres Teams in der Mitarbeit an echten Aufträgen. Neben der Arbeit in der Werkstatt wirst du Abteilungen wie Arbeitsvorbereitung, Design und Innenarchitektur sowie Projektleitung durchlaufen und umfassend nach dem Ausbildungsrahmenplan ausgebildet, hast Kundenkontakt und einen festen Ansprechpartner in unserem Betrieb.
			
		
