.Clients(data-aos="fade-up" data-aos-duration="400")
	.Columns__marginal
		span Ausgezeichneter Ausbildungsbetrieb
	.Clients__body
		.Clients__text
			.Heading.Heading--major
				h2 Gute Gründe für Holzformart
			p HolzFormArt ist ausgezeichnet als Top Ausbildungsbetrieb in NRW und bietet eine abwechslungsreiche Ausbildung in verschiedenen Abteilungen eines modernen Betriebs.
			ul
				li
					img(src=images+"/ausbildung/logo-tischler.jpg" style="width:201px;")
		.Clients__box.Clients__box--red
			h3 Auszeichnungen
			p Ausgezeichnet als Top Ausbildungsbetrieb 2016/2017 im Tischerhandwerk NRW
			div
				ul
					if content
						each el, index in content.reasons
							li= '- ' + el
