.Circle-image
	.Circle-image__body
		div
			.Glyphe.Glyphe--bottom-right
			img(src=images+"/ueberuns/ueberuns.jpg")
		div
			p HolzFormArt was founded in 1994. From the word go, the focus of our work has been on the combination of state-of-the-art technology with quality craftsmanship. Creativity in design, planning and implementation are married to precision and economy.
			p Our international clients include renowned retail and service provision companies, as well as public institutions, hospitals, hotels and private clients, all making use of our comprehensive portfolio of services covering design, planning and implementation.
			p HolzFormArt is an FSC-certified company, and in 2008 was awarded the seal of quality for occupational health and safety by the professional trade association for wood product manufacturing.
