.Inshort(class="[ Element ]")
	.Inshort__body
		.Columns__marginal
			span Details
		.Inshort__spacer
		.Inshort__intro--wide
			.Heading.Heading--minor
				//- span Willkommen
				h2 We know that trust isn‘t handed to us on a plate. It‘s something that we earn.
