.Jobs
	.Columns__marginal
		span Careers
	.Jobs__body
		.Jobs__text
			.Heading.Heading--major
				h2 Careers at HolzFormArt
			p Providing good work means having a good team. If you would like to enrich our team at HolzFormArt with your dedication and expertise, please feel free to spontaneously send us your application. We look forward to hearing from you!
		.Jobs__box
			div
				ul
					li
						p Ausbildung Tischler/in
						a.Button.Button--inline(href="/assets/images/jobs/HFA_Stellenanzeige_Ausbildung_TischlerIn.pdf" target="_blank")
							span PDF
					li
						p Ausbildung Büromanagement
						a.Button.Button--inline(href="/assets/images/jobs/HFA_Stellenanzeige_Ausbildung_Bueromanagement.pdf" target="_blank")
							span PDF
					li
						p Stellenanzeige Technische/r Zeichner/in
						a.Button.Button--inline(href="/assets/images/jobs/HFA_Stellenanzeige_TechnZeichnerIn.pdf" target="_blank")
							span PDF
							
			div
				ul
					li
						p Bewerbungsbedingungen Tischler/in
						a.Button.Button--inline(href="/assets/images/jobs/HFA_Bedingungen_Ausbildung_TischlerIn.pdf" target="_blank")
							span PDF
					li
						p Bewerbungsbedingungen Büromanagement
						a.Button.Button--inline(href="/assets/images/jobs/HFA_Bedingungen_Ausbildung_Bueromanagement.pdf" target="_blank")
							span PDF
