.Jobs
	.Columns__marginal
		span Careers
	.Jobs__body
		.Jobs__text
			.Heading.Heading--major
				h2 Careers at HolzFormArt
			p Providing good work means having a good team. If you would like to enrich our team at HolzFormArt with your dedication and expertise, please feel free to spontaneously send us your application. We look forward to hearing from you!
		.Jobs__box
			div
				ul
					li
						p Ausbildung 2017
						a.Button.Button--inline(href="/assets/images/jobs/HFA_Stellenanzeige_Ausbildung_2017.pdf" target="_blank")
							span PDF
					//- li
					//- 	p Maschinenbediener/ in
					//- 	a.Button.Button--inline(href="/assets/images/jobs/HFA_Stellenanzeige_online_Maschinenbediener_2015_07" target="_blank")
					//- 		span PDF
			div
				ul
					li
						p Ausbildungsbedingungen (Stand 12/2016)
						a.Button.Button--inline(href="/assets/images/jobs/HFA_Ausbildungsbedingungen_02_2017.pdf" target="_blank")
							span PDF
					//- li
					//- 	p Innenarchitekt/ in
					//- 	a.Button.Button--inline(href="/assets/images/jobs/HFA_Stellenanzeige_Innenarchitektin_online_2016_10" target="_blank")
					//- 		span PDF
