extends ../../../_layout/en/_layout

block title
		title Shopfitting: adidas by HOLZFORMART

block hreflang
		- var pagelinkDe = 'ladenbau/adidas.html'
		- var pagelinkEn = 'shopfitting/adidas.html'
		include ../../../_layout/hreflang.pug


block meta
		meta(name="description", content="Shopfitting: adidas by HOLZFORMART")
		meta(name="pageColor", content="blue")

block content
	include ../../../_sections/en/projects/hero.pug
	include ../../../_sections/en/projects/description.pug
	include ../../../_sections/en/projects/gallery.pug
