extends ../../../_layout/en/_layout

block title
		title Shopfitting: Fossil by HOLZFORMART

block hreflang
		- var pagelinkDe = 'landenbau/fossil.html'
		- var pagelinkEn = 'shopfitting/fossil.html'
		include ../../../_layout/hreflang.pug

block meta
		meta(name="description", content="Shopfitting: Fossil by HOLZFORMART")
		meta(name="pageColor", content="blue")

block content
	include ../../../_sections/en/projects/hero.pug
	include ../../../_sections/en/projects/description.pug
	include ../../../_sections/en/projects/gallery.pug
