extends ../../../_layout/en/_layout

block title
		title Ladenbau: Fossil by HOLZFORMART

block meta
		meta(name="description", content="Ladenbau: Fossil by HOLZFORMART")
		meta(name="pageColor", content="blue")

block content
	include ../../../_sections/en/projects/hero.pug
	include ../../../_sections/en/projects/description.pug
	include ../../../_sections/en/projects/gallery.pug
