extends ../../../_layout/en/_layout

block title
		title Die Experten für Ladenbau und Innenausbau in Krefeld: HOLZFORMART

block meta
		meta(name="description", content="Die Experten für Ladenbau und Innenausbau in Krefeld: HOLZFORMART ")
		meta(name="pageColor", content="blue")

block content
	include ../../../_sections/en/shopfitting/hero.pug
	include ../../../_sections/en/shopfitting/inshort.pug
	include ../../../_sections/en/shopfitting/teaser.pug
