extends ../../../_layout/en/_layout

block title
		title Shopfitting: HOLZFORMART

block hreflang
		- var pagelinkDe = 'ladenbau/'
		- var pagelinkEn = 'shopfitting/'
		include ../../../_layout/hreflang.pug

block meta
		meta(name="description", content="Shopfitting: HOLZFORMART")
		meta(name="pageColor", content="blue")

block content
	include ../../../_sections/en/shopfitting/hero.pug
	include ../../../_sections/en/shopfitting/inshort.pug
	include ../../../_sections/en/shopfitting/teaser.pug
