extends ../../_layout/de/_layout

block title
		title Impressum vom HOLZFORMART

block meta
		meta(name="description", content="Impressum: HOLZFORMART ")
		meta(name="pageColor", content="red")

block content
		include ../../_sections/de/contact/hero.pug
		include ../../_sections/de/impressum/article.pug
