extends ../../_layout/de/_layout

block title
		title Die Experten für Ladenbau und Innenausbau in Krefeld: HOLZFORMART

block meta
		meta(name="description", content="Die Experten für Ladenbau und Innenausbau in Krefeld: HOLZFORMART ")
		meta(name="pageColor", content="red")

block content
		include ../../_sections/de/home/hero.pug
		include ../../_sections/de/home/inshort.pug
		include ../../_sections/de/home/highlight.pug
