extends ../../_layout/de/_layout

block title
		title Karriere bei HolzFormArt: HOLZFORMART

block hreflang
		- var pagelinkDe = 'karriere.html'
		- var pagelinkEn = 'carrer.html'
		include ../../_layout/hreflang.pug

block meta
		meta(name="description", content="Karriere mit Holzformart: HOLZFORMART ")
		meta(name="pageColor", content="red")

block content
		include ../../_sections/de/karriere/hero.pug
		include ../../_sections/de/karriere/inshort.pug
		include ../../_sections/de/karriere/description.pug
		include ../../_sections/de/karriere/linkbox.pug
		include ../../_sections/de/karriere/reasons.pug
		include ../../_sections/de/karriere/professions.pug
		include ../../_sections/de/karriere/azubis.pug
		include ../../_sections/de/karriere/impressions.pug
		include ../../_sections/de/karriere/bewerbung.pug
