extends ../../_layout/de/_layout

block title
		title Das sind wir: HOLZFORMART

block meta
		meta(name="description", content="Die Kompetenzen liegen in der Konzeption und Produktion von Möbeln aller Art für die Bereiche Ladenbau, Innenausbau, Küchen, Bäder und Fertigung von Einzelmöbeln. ")
		meta(name="pageColor", content="red")

block content
		include ../../_sections/de/ueberuns/hero.pug
		include ../../_sections/de/ueberuns/inshort.pug
		include ../../_sections/de/ueberuns/description.pug
		include ../../_sections/de/ueberuns/impressions.pug
		include ../../_sections/de/ueberuns/team.pug
