doctype html
include ../_mixins.pug

//- DOM
- var lang = "en"

html
	include ./head.pug
	body.loading
		include ./header.pug
		include ../main.pug
		include ../footer.pug
		include ../scripts.pug
		//- include ./googleanalytics.pug
