.Footer
	.Footer__body
		.Footer__menu
			p
				a(href="/"+lang+"/") Home
				br
				a(href="/"+lang+"/shopfitting/") Shopfitting
				br
				a(href="/"+lang+"/interiorfitout/") Interior fit out
				br
				a(href="/"+lang+"/aboutus.html") About us
				br
				a.divider(href="/"+lang+"/contact.html") Contact
				br
				a(href="/"+lang+"/impressum.html") Legal & Disclaimer
		.Footer__adress
			p.
				HolzFormArt GmbH & Co. KG<br/>
				Endstraße 104<br/>
				47506 Neukirchen-Vluyn<br/>
				<br/>
				Fax: 02841-88730-29
		.Footer__contact
			p
				a.nounderline(href="tel:00492841887300") +49 2841 88730 - 0
				br
				a(href="mailto:mail@holzformart.de") mail@holzformart.de
				br
				a(href="http://maps.google.com/?q=HolzFormArt GmbH & Co KG, Endstraße 104, 47506 Neukirchen-Vluyn") Show on google maps
			p.
				You can contact us Monday to Friday from 7.30 a.m. to 4 p.m. – or, of course, any time via email.
		.Footer__social
			a(href="https://www.facebook.com/Holzformart/" target="_blank")
				include ../../_svg/icon-facebook.svg
			//- a(href="https://www.instagram.com/holzformart/" target="_blank")
			//- 	include ../../_svg/icon-instagramm.svg
			a(href="https://twitter.com/hashtag/Holzformart?src=hash" target="_blank")
				include ../../_svg/icon-twitter.svg
			a(href="https://www.xing.com/companies/holzformartgmbh&co.kg" target="_blank")
				include ../../_svg/icon-xing.svg
