block header

header.Header--sticky
	.Header-body
		include ../../_svg/logo.svg
		include ./navigation.pug

header.Header
	include ../../_svg/logo.svg
	div.Header-body
		include ./navigation.pug
		span.Header-toggle
			span
