.Navigation
	.Navigation-bg-close
	.Button--close
		span
	nav(role="navigation")
		li
			a(href="/"+lang+"/shopfitting/") Shopfitting
		li
			a(href="/"+lang+"/interiorfitout/") Interior Fit out
		li
			a(href="/"+lang+"/aboutus.html") About us


.Navigation-bg-close-content
