.Navigation
	.Navigation-bg-close
	.Button--close
		span
	nav(role="navigation")
		li
			a(href="/"+lang+"/ladenbau") Ladenbau
		li
			a(href="/"+lang+"/innenausbau") Innenausbau
		li
			a(href="/"+lang+"/ueberuns") Über uns


.Navigation-bg-close-content
