.Menu(role="navigation")
	ul.Menu__body
		li
			a(href="/"+lang+"/shopfitting/") Shopfitting
		li
			a(href="/"+lang+"/interiorfitout/") Interior fit out
		li
			a(href="/"+lang+"/aboutus.html") About us
		li
			a(href="/"+lang+"/apprenticeship.html") Apprenticeship
		li.Menu__item--right
			a(href="/"+lang+"/contact.html") Contact
			|&nbsp;&nbsp;
			span
				a(href="/de/"+pagelinkDe data-hook="de") DE
				|&nbsp;|&nbsp;
				a(href="/en/"+pagelinkEn data-hook="en" class="active") EN
