extends ../../../_layout/de/_layout

block title
		title Shop-Design mit künstlerischer Freiheit.: George Gina & Lucy by HOLZFORMART

block meta
		meta(name="description", content="Shop-Design mit künstlerischer Freiheit: George Gina & Lucy by HOLZFORMART")
		meta(name="pageColor", content="blue")

block content
	include ../../../_sections/de/projects/hero.pug
	include ../../../_sections/de/projects/description.pug
	include ../../../_sections/de/projects/gallery.pug
