extends ../../../_layout/de/_layout

block title
		title Die Experten für Ladenbau und Innenausbau in Krefeld: HOLZFORMART

block meta
		meta(name="description", content="Die Experten für Ladenbau und Innenausbau in Krefeld: HOLZFORMART ")
		meta(name="pageColor", content="blue")

block content
	include ../../../_sections/de/ladenbau/hero.pug
	include ../../../_sections/de/ladenbau/inshort.pug
	include ../../../_sections/de/ladenbau/teaser.pug
