extends ../../../_layout/de/_layout

block title
		title '40 Shops and Show room: Riverwoods by HOLZFORMART

block hreflang
		- var pagelinkDe = 'ladenbau/riverwoods.html'
		- var pagelinkEn = 'shopfitting/riverwoods.html'
		include ../../../_layout/hreflang.pug

block meta
		meta(name="description", content="40 Shops and Show room: Riverwoods by HOLZFORMART")
		meta(name="pageColor", content="blue")

block content
	include ../../../_sections/de/projects/hero.pug
	include ../../../_sections/de/projects/description.pug
	include ../../../_sections/de/projects/gallery.pug
