extends ../../../_layout/de/_layout

block title
		title Flag ship Store & Show room: Skagen by HOLZFORMART

block meta
		meta(name="description", content=" Flag ship Store & Show room: Skagen by HOLZFORMART")
		meta(name="pageColor", content="blue")

block content
	include ../../../_sections/de/projects/hero.pug
	include ../../../_sections/de/projects/description.pug
	include ../../../_sections/de/projects/gallery.pug
