.Circle-image(data-aos="fade-up" data-aos-duration="900")
	.Circle-image__body
		div
			.Glyphe.Glyphe--bottom-right
			img(src=images+"/ueberuns/ueberuns.jpg")
		div
			p HolzFormArt wurde im Jahr 1994 gegründet. Von Beginn an lag der Fokus unserer Arbeit in der Verbindung aus modernster Technik und handwerklichem Können. So verbinden sich Kreativität in Design, Planung und Umsetzung mit Präzision und Wirtschaftlichkeit.
			p Zu dem internationalen Kundenkreis, der unser umfassendes Leistungsspektrum von Design über Planung bis zur Realisierung nutzt, gehören renommierte Einzelhandels- und Dienstleistungsunternehmen ebenso wie öffentliche Institutionen, Krankenhäuser, Hotels und Privatkunden.
			p HolzFormArt ist ein FSC-zertifiziertes Unternehmen und wurde 2008 mit dem AGO-Siegel der Holz-Berufsgenossenschaft (Arbeitssicherheit und Gesundheitsschutz durch Organisation) ausgezeichnet.
