.Inshort(class="[ Element ]")
	.Inshort__body
		.Columns__marginal
			span Im Detail
		.Inshort__spacer
		.Inshort__intro--wide
			.Heading.Heading--minor
				//- span Willkommen
				h2 Stefan Molter und Roman Ingenlath gründeten 1994 das Unternehmen HolzFormArt mit Standort in Krefeld. Die Kompetenzen liegen in der Konzeption und Produktion von Möbeln aller Art für die Bereiche Ladenbau, Innenausbau, Küchen, Bäder und Fertigung von Einzelmöbeln.
