.Inshort(class="[ Element ]")
	.Inshort__body
		.Columns__marginal
			span Im Detail
		.Inshort__spacer
		.Inshort__intro--wide
			.Heading.Heading--minor
				//- span Willkommen
				h2 Wir wissen, Vertrauen bekommt man nicht geschenkt. Wir verdienen es uns.
