.Jobs
	.Columns__marginal
		span Jobs
	.Jobs__body
		.Jobs__text
			.Heading.Heading--major
				h2 Karriere bei Holzformart
			p Für gute Arbeit braucht man ein gutes Team. Wenn Sie die Mannschaft von Holzformart mit Ihrem Engagement und Ihrem Sachverstand bereichern möchten, bewerben Sie sich gerne initiativ. Wir freuen uns auf Sie!
		.Jobs__box
			div
				ul
					li
						p Ausbildung 2017
						a.Button.Button--inline(href="#")
							span PDF
					li
						p Maschinenbediener/ in
						a.Button.Button--inline(href="#")
							span PDF
					li
						p Innenarchitekt/ in
						a.Button.Button--inline(href="#")
							span PDF
			div
				ul
					li
						p Ausbildungsbedingungen (Stand 12/2016)
						a.Button.Button--inline(href="#")
							span PDF
					li
						p Monteur/ in
						a.Button.Button--inline(href="#")
							span PDF
