.Inshort(class="[ Element ]")
	.Inshort__body
		.Columns__marginal
			span Shopfitting
		.Inshort__spacer
		.Inshort__intro.Inshort__intro--copy
			.Heading.Heading--major
				span Shop fitting expertise
				h2 Shop-in-shop areas, showrooms, product presentation, trade fair presence
		.Inshort__copy
			.Copy
				p How a shop space is conceived and designed is a key aspect of providing a positive shopping experience. Creating a particular atmosphere, staging products, and bringing brand worlds to life are part of our service portfolio.
				p From planning to implementation, we accompany you with our expert knowledge and skills. Upon request, we can also coordinate other works for you and then, as your general contractor, ensure that everything runs smoothly.
