.Button
	&--inline
		position: relative
		cursor: pointer
		display: block
		&:hover
			&::before
				margin-left: 5px
				+bp(large)
					margin-left: 10px
			span
				margin-left: -5px
				+bp(large)
					margin-left: -10px
				color: $color-red
				&::after
					background-color: $color-red
		&::before
			position: relative
			z-index: 0
			content: ''
			display: inline-block
			vertical-align: middle
			+transition(all, 0.45s)
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMiIgYmFzZVByb2ZpbGU9InRpbnkiIGlkPSJFYmVuZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjIyLjk2NXB4IiBoZWlnaHQ9IjIyLjAwOHB4IiB2aWV3Qm94PSIwIDAgMjIuOTY1IDIyLjAwOCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjREQwRTFCIiBwb2ludHM9IjIyLjk2NSwxMS4wMjEgMTEuNzgzLDAgMTAuMTM1LDEuNjIzIDE4LjU4LDkuOTE1IDAsOS45MTUgMCwxMi4xIDE4LjYwOSwxMi4xIDEwLjE4MiwyMC40MDYgMTEuODA3LDIyLjAwOCAyMi45NjUsMTEuMDIxIDIyLjk2NSwxMS4wMjEgIi8+PC9zdmc+)
			background-repeat: no-repeat
			background-size: 50%
			width: 2em
			height: 1em
			background-position: left center
			+bp(medium)
				background-size: auto
				width: 4em
				height: 2em
				background-position: 1.3em center
		span
			position: relative
			z-index: 10
			display: inline-block
			font-weight: 700
			font-size: 0.8em
			text-transform: uppercase
			line-height: 2em
			+transition(all, 0.45s)
			+bp(medium)
				font-size: 1em
			+bp(large)
				font-size: 1.25em
			&::after
				content: ''
				left: 0
				bottom: 5px
				position: absolute
				height: 1px
				background-color: white
				width: 100%
				+transition(all, 0.45s)

	&--teaser
		position: relative
		cursor: pointer
		display: inline-block
		background-color: white
		font-weight: 700
		text-transform: uppercase
		color: white
		&:hover
			>span
				margin-right: 1em
				padding-right: 2em
				+bp(larger)
					margin-right: 2em
			&::before
				right: 0
		&::before
			position: absolute
			+transition(all, 0.45s)
			top: 0
			left: 0
			right: 4em
			height: 100%
			background-color: grey
			z-index: 2
			content: ''
		&::after
			position: absolute
			top: 0
			right: 0
			z-index: 0
			content: ''
			display: inline-block
			vertical-align: middle
			z-index: 3
			width: 4em
			height: 3.6em
			+bp(larger)
				height: 4em
			// background-color: darken(grey, 10%)
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMiIgYmFzZVByb2ZpbGU9InRpbnkiIGlkPSJFYmVuZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjIyLjk2NXB4IiBoZWlnaHQ9IjIyLjAwOHB4IiB2aWV3Qm94PSIwIDAgMjIuOTY1IDIyLjAwOCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjIyLjk2NSwxMS4wMjEgMTEuNzgzLDAgMTAuMTM1LDEuNjIzIDE4LjU4LDkuOTE1IDAsOS45MTUgMCwxMi4xIDE4LjYwOSwxMi4xIDEwLjE4MiwyMC40MDYgMTEuODA3LDIyLjAwOCAyMi45NjUsMTEuMDIxIDIyLjk2NSwxMS4wMjEgIi8+PC9zdmc+)
			background-repeat: no-repeat
			background-position: 1.3em center
		>span
			+transition(all, 0.45s)
			position: relative
			z-index: 10
			display: block
			height: 3.6em
			padding-right: 4.5em
			padding-left: 1em
			+bp(larger)
				padding-right: 5.5em
				height: 4em
			>span
				display: inline-block
				padding-top: 0.7em
				>span
					display: block
					letter-spacing: 0
					&:first-child
						font-size: 0.5em
						+bp(larger)
							font-size: 0.65em
						line-height: 2
					&:last-child
						font-size: 0.8em
						+bp(larger)
							font-size: 1.1em
						text-transform: none
						line-height: 1

		.Teaser--square &,
		.Teaser--square-medium &,
		.Teaser--square-mediumborder &
			color: $color-text
			>span
				padding-left: 0em
				>span
					+transform(translateY(40%))
			&::before
				background-color: white !important
			&:hover

				&::before
					right: 6em !important


		.Teaser__link--innenausbau &
			background-color: $color-yellow
			&::before
				background-color: darken($color-yellow, 10%)
		.Teaser__link--ladenbau &
			background-color: $color-blue
			&::before
				background-color: darken($color-blue, 10%)


	&--block
		position: relative
		cursor: pointer
		display: block
		background-color: grey
		font-weight: 700
		text-transform: uppercase
		margin-bottom: 1em
		color: white
		&:hover
			&::before
				width: 100%
				background-position: 2em center
		&::before
			position: absolute
			z-index: 0
			content: ''
			display: inline-block
			vertical-align: middle
			+transition(all, 0.45s)
			width: 4em
			height: 4em
			background-color: darken(grey, 10%)
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMiIgYmFzZVByb2ZpbGU9InRpbnkiIGlkPSJFYmVuZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjIyLjk2NXB4IiBoZWlnaHQ9IjIyLjAwOHB4IiB2aWV3Qm94PSIwIDAgMjIuOTY1IDIyLjAwOCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjIyLjk2NSwxMS4wMjEgMTEuNzgzLDAgMTAuMTM1LDEuNjIzIDE4LjU4LDkuOTE1IDAsOS45MTUgMCwxMi4xIDE4LjYwOSwxMi4xIDEwLjE4MiwyMC40MDYgMTEuODA3LDIyLjAwOCAyMi45NjUsMTEuMDIxIDIyLjk2NSwxMS4wMjEgIi8+PC9zdmc+)
			background-repeat: no-repeat
			background-position: 1.3em center
		span
			position: relative
			z-index: 10
			display: inline-block
			line-height: 4em
			padding-left: 6em
		.red &
			background-color: $color-red
			&::before
				background-color: darken($color-red, 10%)
	&--smallblock
		position: relative
		cursor: pointer
		display: inline-block
		background-color: grey
		font-weight: 700
		text-transform: uppercase
		margin-bottom: 1em
		color: white
		&:hover
			&::before
				width: 100%
				background-position: 2em center
		&::before
			position: absolute
			z-index: 0
			content: ''
			display: inline-block
			vertical-align: middle
			+transition(all, 0.45s)
			width: 4em
			height: 4em
			background-color: darken(grey, 10%)
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMiIgYmFzZVByb2ZpbGU9InRpbnkiIGlkPSJFYmVuZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjIyLjk2NXB4IiBoZWlnaHQ9IjIyLjAwOHB4IiB2aWV3Qm94PSIwIDAgMjIuOTY1IDIyLjAwOCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjIyLjk2NSwxMS4wMjEgMTEuNzgzLDAgMTAuMTM1LDEuNjIzIDE4LjU4LDkuOTE1IDAsOS45MTUgMCwxMi4xIDE4LjYwOSwxMi4xIDEwLjE4MiwyMC40MDYgMTEuODA3LDIyLjAwOCAyMi45NjUsMTEuMDIxIDIyLjk2NSwxMS4wMjEgIi8+PC9zdmc+)
			background-repeat: no-repeat
			background-position: 1.3em center
		span
			position: relative
			z-index: 10
			display: inline-block
			line-height: 4em
			padding-left: 6em
			padding-right: 2em
		.red &
			background-color: $color-red
			&::before
				background-color: darken($color-red, 10%)

	&--toggle
		display: block
		position: fixed
		top: 0
		right: $gap-size
		width: 50px
		height: 48px
		z-index: 999
		cursor: pointer
		background-color: white
		right: $gap-aside
		+bp(medium)
			top: $gap-size
			right: $gap-aside--medium
		.Header--open &
			span
				+transform(rotate(45deg))
				&:before
					+transform(rotate(90deg))
				&:after
					+transform(rotate(90deg))
		+bp(large)
			display: none

		span
			position: absolute
			top: 50%
			left: 10%
			display: block
			width: 80%
			height: 0.4rem
			margin-top: -0.2rem
			background-color: $color-highlight
			.red &
				background-color: $color-red
			+noselect()
			+transition(all, .3s)
			&:after,
			&:before
				position: absolute
				left: 0
				width: 100%
				height: 100%
				background-color: $color-highlight
				.red &
					background-color: $color-red
				content: ''
				display: block
			&:after
				+transition(transform, .3s)
			&:before
				+transition(transform, .3s)
				+transform(translateY(-0.55rem))
			&:after
				+transform(translateY(0.55rem))
		&:hover span
			+transform(rotate(90deg))
			&:before
				+transform(rotate(90deg))
			&:after
				+transform(rotate(90deg))
	&--close
		position: absolute
		width: 50px
		height: 50px
		top: 2px
		right: 2px
		padding: 5px
		z-index: 9999
		cursor: pointer
		background-color: transparent
		+noselect()
		span
			position: absolute
			top: 50%
			left: 10%
			display: block
			width: 80%
			height: 0.4rem
			background-color: transparent
			// visibility: hidden
			margin-top: -0.2rem
			+noselect()
			+transition(transform, .35s)
			&:after,
			&:before
				position: absolute
				content: ''
				width: 100%
				height: 100%
				visibility: visible
				+border-radius(5px)
				background: white
				left: 0
			&:after
				+transform(rotate(45deg))
				+transition(transform, .5s)
			&:before
				+transform(rotate(-45deg))
				+transition(transform, .5s)
		&:hover span
			+transform(rotate(180deg))
			&:before
				+transform(rotate(0deg))
			&:after
				+transform(rotate(0deg))
