.Columns
	&__back
			position: absolute
			right: 0
			margin-top: -6.4em
			+bp(medium)
				margin-top: -8.5em
	&__marginal
		display: none
		+bp(large)
			display: block
			position: absolute
			left: 0
			padding-top: 100px
		+fontsemi
		text-transform: uppercase
		span
			font-size: 1.1em
			line-height: 1
			display: inline-block
			opacity: 0.3
			text-align: right
			width: 300px
			+transform(rotate(-90deg) translateX(-100px) translateY(-118px))
	&__marginal--colored
		span
			color: white
			opacity: 0.9
