.Header-sticky
	display: none
	background-color: lighten($color-highlight, 65%)
	// .red &
	// 	background-color: $color-red
	// .yellow &
	// 	background-color: $color-yellow
	// .blue &
	// 	background-color: $color-blue
	width: 100%
	position: fixed
	height: auto
	z-index: 9999999
	+transform(translateY(-100%))
	+transition(all, 0.25s)
	+bp('large')
		display: block
		visibility: hidden
	.Header-sticky--open &
		visibility: visible
		+transform(translateY(0%))
		+transition(all, 0.45s)
	&__body
		li
			a
				+bp(large)
					line-height: $header-height--medium
				+bp(larger)
					line-height: $header-height--medium
	&__logo
		position: absolute
		z-index: 9999
		width: 100px
		height: 100px
		top: $header-height--medium - 50px
		left: $gap-aside--medium
		+bp(medium)
			left: $gap-aside--medium
		+bp(large)
			left: $gap-aside--large
		+bp(larger)
			left: $gap-aside--larger
		svg
			position: absolute
			left: 0
			top: 0
			right: 0
			bottom: 0
			.Logo-svg--a
				fill: $color-red
				.red &
					fill: $color-red
				.yellow &
					fill: $color-yellow
				.blue &
					fill: $color-blue
