.Heading
	&__overline
		display: block
		text-transform: uppercase
		+fontsemi
		font-size: 0.55em
		+bp(medium)
			font-size: 0.7em
		+bp(huger)
			font-size: 0.8em
		letter-spacing: 0.03em
	&--box
		text-align: left
		position: relative
		+bp(medium)
			position: absolute
			left: 0
			bottom: 0
			width: +unit(10,17)
		+bp(larger)
			width: +unit(8.5,17)
		+bp(huge)
			width: +unit(7.4,17)
		.Heading__body
			background-color: white
			padding: $gap-aside--medium $gap-aside 1em $gap-aside
			+bp(medium)
				padding: 2em $gap-aside--medium
			+bp(large)
				padding: 2em $gap-aside--large
			+bp(larger)
				padding: 2em $gap-aside--larger
	&--highlight
		position: relative
		margin-bottom: 2em
		+bp(large)
			margin-bottom: 4em
		h2
			font-weight: 300
			font-size: 1.5em
			+bp(medium)
				font-size: 2.3em
			+bp(large)
				font-size: 3.5em
		&::before
			position: relative
			display: block
			margin: 0 auto
			content: ''
			height: 50px
			width: 1px
			+bp(medium)
				height: 90px
				width: 3px
			background-color: white
			margin-bottom: 50px
		span
			@extend .Heading__overline
	&--large
		padding-bottom: $gap-aside
		+bp(medium)
			padding-bottom: $gap-aside--medium
		h2
			text-transform: uppercase
			font-size: 2em
			line-height: 1
			+bp(medium)
				font-size: 3em
	&--major
		position: relative
		span
			@extend .Heading__overline
		&::after
			content: ''
			height: 3px
			width: 30px
			position: relative
			display: inline-block
			margin-top: 10px
			+bp(medium)
				width: 30px
				margin-top: 20px
			.red &
				background-color: $color-red
			.yellow &
				background-color: $color-yellow
			.blue &
				background-color: $color-blue
	&--minor
		position: relative
		color: $color-red
		padding-top: $gap-size
		padding-left: $gap-size
		padding-right: $gap-size
		+bp(medium)
			padding-top: $gap-size--medium
			padding-left: $gap-size--medium
			padding-right: 0
		+bp(large)
			padding-top: $gap-size--large
			padding-left: $gap-size--large
		&::after
			content: ''
			height: 3px
			width: 30px
			position: relative
			display: inline-block
			margin-top: 10px
			+bp(medium)
				width: 30px
				margin-top: 20px
			.red &
				background-color: $color-red
