.Hero
	position: relative
	&--noimage
		.Hero__body
			background-color: white
			padding-bottom: +unit(2,16)
			+bp(medium, larger)
				padding-bottom: +unit(1,16)
			+bp(larger)
				padding-bottom: +unit(0,16)
	&__video
		position: absolute
		left: 50%
		top: 50%
		width: 140%
		padding-bottom: +unit(14,16)
		+bp(large)
			width: 100%
			padding-bottom: +unit(9,16)
		+transform(translateX(-50%) translateY(-50%))
	&__body
		position: relative
		text-align: center
		padding-bottom: +unit(12,16)
		background-color: lightgrey
		overflow: hidden
		+bp(large)
			padding-bottom: +unit(9,16)
		+bp(larger)
			padding-bottom: +unit(7,16)
		iframe
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%

	&__content
		position: absolute
		top: 50%
		left: 50%
		+transform(translateY(-50%) translateX(-50%))
		img
			display: inline-block
			vertical-align: middle
			margin: 0 auto
			width: 200px
		p
			color: white
			text-transform: uppercase
			letter-spacing: 0.1em
			margin: 0
			text-align: center
			display: block
