.Section
	&__body
		position: relative
		+clearfix
		padding-top: $gap-size--medium
		padding-bottom: $gap-size--medium
		+bp(medium)
			padding-top: $gap-size--large
			padding-bottom: $gap-size--large
		+bp(larger)
			padding-top: 2*$gap-size--large
			padding-bottom: 2*$gap-size--large
		+bp(huger)
			padding-top: 2.5*$gap-size--large
			padding-bottom: 2.5*$gap-size--large
	&__body--bottom
		position: relative
		+clearfix
		// padding-top: $gap-size
		padding-bottom: $gap-size
		+bp(medium)
			// padding-top: $gap-size--large
			padding-bottom: $gap-size--large
		+bp(larger)
			// padding-top: 2*$gap-size--large
			padding-bottom: 2*$gap-size--large
		+bp(huger)
			// padding-top: 2.5*$gap-size--large
			padding-bottom: 2.5*$gap-size--large
