.Slider
	&__body
		@extend .Section__body
	&--projects
		.swiper-pagination
			position: absolute
			left: 50%
			+transform(translateX(-50%))
			bottom: 0
			+bp(medium)
				bottom: $gap-size--large/2
			+bp(larger)
				bottom: $gap-size--large
			+bp(huger)
				bottom: 2.5*$gap-size--large/2
		.Slider__spacer
			float: left
			width: 0
			+bp(medium)
				width: +unit(2,16)
			padding-bottom: 20%
			position: relative
			&::before
				height: 3px
				width: 50%
				position: absolute
				top: 0
				left: 0
				background-color: $color-text
				+bp(medium)
					content: ''
				+bp(large)
					width: +unit(2,4)
		.Slider__swiper
			position: relative
			float: left
			width: 100%
			+bp(medium)
				width: +unit(14,16)
