.Teaser
	display: block
	padding-bottom: 1em
	position: relative
	&:hover
		.Button--teaser
			&:before
				right: 0
			>span
				margin-right: 1em
				padding-right: 2em
				+bp(larger)
					margin-right: 2em
	&--circle-medium,
	&--circle,
	&--round
		.Teaser__body
			padding-bottom: 0
			overflow: hidden
			+border-radius(100%)

	&__body
		position: relative
		line-height: 0
		width: 100%
		img
			width: 100%
			height: 100%
	&__link
		position: absolute
		left: 0
		right: 0
		bottom: 0.98em
		+bp(larger)
			bottom: 1em
