.Formalities(data-aos="fade-up" data-aos-duration="600")
	.Columns__marginal
		span APPLICATION DETAILS
	.Formalities__body
		.Formalities__text
			.Heading.Heading--major.Heading--major-versal
				h2 Your application for an apprenticeship or on-the-job vocational training at HolzFormArt.
			h3 Joiner
			h4 For your application you will need:
			ul
				li a higher school-leaving certificate, a GCSE/ high school diploma or a basic secondary school certificate
				li a result of at least “Satisfactory” in mathematics and German on the leaving certificate
				li motivation and willingness to learn at school and at work
				li an aptitude for manual craft
			h4 Application phase
			p Apply in the period from 1 September to 20 November in any given year for an apprenticeship in the following year. If we find your application of interest, we will invite you to a personal interview. This is followed by a written aptitude test on the various themes associated with your apprenticeship. The final stage is one week of practical work experience to help you as an applicant and us as a training organisation to find out if we suit each other.
			h3 Certified Office Manager
			h4 For your application you will need:
			ul
				li the equivalent of at least GCSE or a high school diploma
				li good marks in mathematics, German and English
			h4 Application phase
			p Once we have received your documentation, if we should find your application particularly interesting, we will invite you to a personal interview. This interview presents you with the opportunity to outline your motivation for choosing this path and to explain what your training and career aspirations are. Just a few days later you will hear from us with the outcome.
		.Formalities__box
			h3 Your application documents
			h4 This is what we need from every applicant:
			div
				ul
					li letter of application
					li your CV in tabular form and a photo
					li anticipated type of school-leaving certificate and expected date of completion
					li a copy of your most recent school report and employer references
				h4 Send your application<br>either by post to:
				p HolzFormArt GmbH & Co. KG,<br/>Endstraße 104,<br/>47506 Neukirchen-Vluyn<br/>Germany
				h4 or via e-mail to:
				p
					a(href="mailto:r.ingenlath@holzformart.de") r.ingenlath@holzformart.de
				p All the best of luck!
