.Circle-image(data-aos="fade-up" data-aos-duration="400")
	.Maennchen.Maennchen--bottom-right
	.Circle-image__body
		div
			.Glyphe.Glyphe--bottom-right
			img(src=images+"/ausbildung/ausbildung.jpg")
		div
			p Our joinery HolzFormArt in Neukirchen-Vluyn realises international projects in the areas of shop fitting and interior fit-outs. We provide brands and companies with the finishing touch with our madetomeasure interiors. We also produce individual pieces of furniture made exactly to the specifications and desires of private customers, too. Every project is different and every day is fascinating.
			p That also applies to our training programme at HolzFormArt. In our modern business enterprise, we offer apprenticeships for joiners and vocational training in office management. This includes a friendly team, interesting projects, further training options and, most of all: work that is fun. This brochure provides you with all the details you need.
			
