.Slider.Slider--fullsize(class="[ Element ]" data-view="SliderView" data-settings="full" id="ausbildung-impressions" data-aos="fade-up" data-aos-duration="400")
	.Slider__body
		.Columns__marginal
			span Impressions
		.Slider__spacer
		.Slider__swiper
			.swiper-container
				.swiper-wrapper
					if content
						each el in content.impressions
							.swiper-slide
								.Figure.Figure--responsive
									img(src=images+el.src alt=""+el.alt)
		.swiper-button-prev
		.swiper-button-next
		.swiper-pagination
	.Slider__text
		div
			h2 Team.<br/>Work.<br/>Life.<br/>Passion.
		div
			p <strong>Sustainable. Successful. Individual.</strong> These principles guide our training at HolzFormArt. Sustainable means using yet preserving resources. And this applies both to natural resources and to health and motivation. That is why at HolzFormArt we make sure that our training is fascinating every day. That it broadens horizons and fosters creativity. Through teamwork. Through challenges. Through thinking beyond the ordinary boundaries. Because we believe that good training prepares you for life, not just for your profession.
		div
			p And since we are confident in the quality of our training, we are glad to take on our apprentices even after they have successfully completed their exams. After all, it’s hard to find good skilled workers, and this makes them valuable. So your training is an investment in the future for us as much as it is for you. We do a lot to ensure that our company atmosphere is motivating and fosters good work. Community rooms like our library and our kitchen contribute as much to creating a communicative environment as our project activities, our excursions for trainees – or our beehive project. In the future, every trainee will construct a beehive for themselves and look after the swarm. Our training manager, Antonio Poeira, supervises the whole project, gives advice and monitors the honey harvest. The project is a small contribution to environmental protection – and the field of flowers surrounding the beehives is a perfect place to spend your break and chat to others.
		
