.Inshort(class="[ Element ]")
	.Inshort__body
		.Columns__marginal
			span Apprenticeship
		.Inshort__spacer
		.Inshort__intro--wide
			.Heading.Heading--minor
				//- span Willkommen
				h2 Exacting standards. In the quality of our work and the quality of our training.
