.Professions(class="[ Element ]")
	.Columns__marginal
		span Vocational training
	.Professions__body
		.Professions__text
			.Heading.Heading--boldhighlight
				h2 Vocational training <span class="only-desktop"><br></span>at HolzFormArt.
		.Professions__listing
			ul
				li.Professions__item.Professions__item--circle
					div
						h3 Certified Office Manager
						p Also for three years, this vocational training course deals with all the areas of administration within the company. In keeping with the training curriculum, you pass through all our specialist departments such as accounting, project management and management control. Always with a mentor at your side.
				li.Professions__item.Professions__item--right
					div
						h3 Joiner
						p As part of our team at HolzFormArt, you will carry out your three-year apprenticeship as a joiner working on genuine orders. Apart from working in the workshop, you will pass through the various departments such as production planning, design and interior design, and project management, receiving comprehensive training in keeping with the training curriculum. You will have customer contact and a designated mentor in our company.
			
		
