.Clients(data-aos="fade-up" data-aos-duration="400")
	.Columns__marginal
		span KEY POINTS
	.Clients__body
		.Clients__text
			.Heading.Heading--major
				h2 Good reasons to choose HolzFormArt
			p HolzFormArt has been voted Best Apprenticeship Training Organisation in NRW and offers diversified professional training in the various departments of a modern business enterprise.
			ul
				li
					img(src=images+"/ausbildung/logo-tischler.jpg" style="width:201px;")
		.Clients__box.Clients__box--red
			div
				ul
					if content
						each el, index in content.reasons
							li= '– ' + el
