.Inshort(class="[ Element ]" data-aos="fade-up" data-aos-duration="600")
	.Inshort__body
		.Columns__marginal
			span Innenausbau
		.Inshort__spacer
		.Inshort__intro.Inshort__intro--copy
			.Heading.Heading--major
				span Expertise Innenausbau
				h2 Innenausbau, Interior-Design, Maßanfertigungen, Design-Konzepte, Office-Design.
		.Inshort__copy
			.Copy
				p Inneneinrichtungen sind ein Spiegel für Stil und Anspruch. Umso größer ist die Bedeutung eines Interiors, sowohl für Privatpersonen als auch Gewerbe.
				p Wir entwickeln und produzieren Einzelmöbel, Küchen- und Badeinbauten sowie komplette Einrichtungen für Shopping-Center, Restaurants, Büros, Krankenhäuser und Hotels. Repräsentativ, innovativ, detailgenau und auf die Wünsche unserer Auftraggeber zugeschnitten.
