.Inshort(class="[ Element ]")
	.Inshort__body
		.Columns__marginal
			span Interior fit out
		.Inshort__spacer
		.Inshort__intro.Inshort__intro--copy
			.Heading.Heading--major
				span Interior design expertise
				h2 Interior fit-outs, interior design, customised solutions, design concepts, office design.
		.Inshort__copy
			.Copy
				p Interiors are a reflection of style and standards. This makes an interior mean so much more, for both private and commercial clients.
				p We develop and produce individual pieces of furniture, fitted kitchens and bathrooms, and entire fit-outs for shopping centres, restaurants, offices, hospitals and hotels. Representative, innovative, accurate in every detail, and tailored to the wishes of our clients.
